.view-file-btn, .order-section-btn {
    background-color: #0091ea;
    color: white;
    font-size: .9rem;
}
.cancel-order-btn {
    background-color: #e65100;
    color: #fff;
    font-size: .9rem;
}
.order-buttons {
    display: flex;
    justify-content: space-around;
}
.action-center {
    background-color: darkgray;
    font-weight: 100;
}
.messgae-input {
    margin-right: 10%;
}

.messgae-input .form-control {
    width: 100%;
}
.message-buton {
    display: inline-block;
    background-color: #e65100;
    color: #fff;
}
.order-background {
    background-color:#e65100 ;
    color: #fff;
}
.onMobile {
    display: none;
}

@media screen and (max-width:480px) {
    .onDesktop {
        display: none;
    }
    .onMobile {
        display: block;
    }
    .onMobile button{
        font-size: .5rem;
    }
    .onMobile .moreoptions {
        background-color: #e65100;
        color:#fff;
        font-size: .9rem;
    }
    .table-body-on-mobile th, .table-body-on-mobile td {
        font-size: .6rem;
    }
}