body {
    background-color: #e3f2fd;
    font-family: Roboto;
}
.navigation-bar {
    width: 100%;
    max-width: 100%;
    height: 3rem;
    background-color: #37474f;
    color: #fff;
}
.navbar-items {
    width: 95%;
    max-width: 95%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}
.navbar-items ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-items ul li {
    margin-right: 1rem;
}
.get-qoute button {
  
    background-color: #e65100;
    color: #fff;
  
}
.messages {
    font-size: 1.5rem;
}
.username {
    font-weight: 700;
}
.recent-orders-body {
    width: 90%;
    margin: 0 auto;
}

.recent-orders {
    min-height: 76vh;
}

.preference-button {
    background-color: #e65100;
    color: #ffff;
}
.order-view-btn {
    background-color: #e65100;
    color: #fff;
}
.order-id {
    color: #0091ea;
}
.deadline {
    color: #e65100;
}
.pending {
    background-color: #fbc02d;
    color: #fff;
    padding: .3rem 1rem;
    border-radius: 10%;
    font-weight: 700;
}
.danger {
    color: #e65100;
}

.send-messge-form {
    margin-top: 2rem;
    width: 80%;
    padding: 1rem 4rem;
    border: 1.5px solid #0091ea;
}
.message-send-btn {
    background-color: #e65100;
    color: #fff;
}

















.footer {
    width: 100%;
    max-width: 100%;
    height: 4rem;
    background-color: #37474f;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer span {
    font-style: italic;
}

@media screen and (max-width:480px) {
    .navbar-items {
        justify-content: center;
    }
    .order-status-navbar {
        display: none;
    }
    
    .navbar-items ul {
        display: flex;
        justify-content: space-around;
    }
    .recent-orders-body {
        width: 100%;
        margin: 0 auto;
    } 
    .send-messge-form {
        width: 100%;

    }
    label.mobile{
        font-size: .6rem;
    }
}
